In [9]:
library(repr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [10]:
url <- "https://raw.githubusercontent.com/stankur/dsci-100-project/main/Data_User_Modeling_Dataset_Hamdi%20Tolga%20KAHRAMAN.csv"

data <- read_csv(url)

data <- data |> 
        select(STG:UNS)

data

New names:
• `` -> `...7`
• `` -> `...8`
Rows: 258 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): UNS, Attribute Information:
dbl (5): STG, SCG, STR, LPR, PEG
lgl (2): ...7, ...8

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    STG  SCG  STR  LPR  PEG  UNS
1   0.00 0.00 0.00 0.00 0.00 very_low
2   0.08 0.08 0.10 0.24 0.90 High
3   0.06 0.06 0.05 0.25 0.33 Low
⋮   ⋮    ⋮    ⋮    ⋮    ⋮    ⋮
256 0.54 0.82 0.71 0.29 0.77 High
257 0.50 0.75 0.81 0.61 0.26 Middle
258 0.66 0.90 0.76 0.87 0.74 High

In [11]:
# mean
mean_data <- data |>
                mutate(STG = mean(STG),  
                       SCG = mean(SCG), 
                       STR = mean(STR),
                       LPR = mean(LPR),
                       PEG = mean(PEG)) |>
                select(STG, SCG, STR, LPR, PEG) |>
                head(1)

# na?
na <- data |> 
            mutate(STG = is.na(STG), SCG = is.na(SCG), 
                   STR = is.na(STR), LPR = is.na(LPR), 
                   PEG = is.na(PEG), UNS = is.na(UNS)) |>
            select(STG, SCG, STR, LPR, PEG, UNS) |>
            head(1)

#UNS summary
UNS_summ <- matrix(c(50, 129, 122, 130), ncol = 4, byrow = TRUE)
colnames(UNS_summ) <- c("VeryLow", "Low", "Medium", "High") 
rownames(UNS_summ) <- ""
UNS_summ <- as_tibble(UNS_summ)

# mean_data
# na
# UNS_summ

In [12]:
mean_tidy <- mean_data |>
        pivot_longer(cols = STG:PEG,
                    names_to = "Feature", values_to = "Mean") 


na_tidy <- na |>
        pivot_longer(na, cols = STG:UNS,
                    names_to = "Feature", values_to = "NA")

# mean_tidy
# na_tidy

Warning message in gsub(vec_paste0("^", names_prefix), "", cols):
“argument 'pattern' has length > 1 and only the first element will be used”

In [13]:
tidy <- data.frame("Feature" = c("STG", "SCG", "STR", "LPR", "PEG", "UNS"),
                   "Mean" = c(0.3711473, 0.3556744, 0.4680039, 0.4327132, 0.4585388, "NA"),
                   "Is.NA" = c(FALSE, FALSE, FALSE, FALSE, FALSE, FALSE)) |>
        as_tibble(tidy)


UNS_tidy <- UNS_summ |>
        pivot_longer(cols = VeryLow:High,
                    names_to = "UNS_Level", values_to = "User") 


tidy
UNS_tidy

  Feature Mean      Is.NA
1 STG     0.3711473 FALSE
2 SCG     0.3556744 FALSE
3 STR     0.4680039 FALSE
4 LPR     0.4327132 FALSE
5 PEG     0.4585388 FALSE
6 UNS     NA        FALSE

  UNS_Level User
1 VeryLow    50
2 Low       129
3 Medium    122
4 High      130