In [27]:
library(repr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [28]:
url <- "https://raw.githubusercontent.com/stankur/dsci-100-project/main/Data_User_Modeling_Dataset_Hamdi%20Tolga%20KAHRAMAN.csv"

data <- read_csv(url)

data <- data |> 
        select(STG:UNS) |>
        head(8)

data

New names:
• `` -> `...7`
• `` -> `...8`
Rows: 258 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): UNS, Attribute Information:
dbl (5): STG, SCG, STR, LPR, PEG
lgl (2): ...7, ...8

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  STG  SCG  STR  LPR  PEG  UNS
1 0.00 0.00 0.00 0.00 0.00 very_low
2 0.08 0.08 0.10 0.24 0.90 High
3 0.06 0.06 0.05 0.25 0.33 Low
⋮ ⋮    ⋮    ⋮    ⋮    ⋮    ⋮
6 0.09 0.15 0.40 0.10 0.66 Middle
7 0.10 0.10 0.43 0.29 0.56 Middle
8 0.15 0.02 0.34 0.40 0.01 very_low

In [29]:
summarization <- data |>
                mutate(STG_mean = mean(STG), ) |>
                select(STG_mean) |>
                slice(1)

summarization

  STG_mean
1 0.0825